---
permalink: /about
layout: layouts/home.njk
title: About Dark Tales Sleuth
eleventyNavigation:
  key: About
  order: 1
---

{%- css %}{% include "public/css/topimage.css" %}{% endcss %}

<div class="top_container">
    {% image "./images/madelynmack_books.png", "Madelyn Mack, sitting with books and a magnifying glass." %}
</div>

<br>

<div class="message-box">
<h2>About Dark Tales Sleuth</h2>

<p>
This site came about as I was hunting down ghost stories for the annual <a href="https://multoghost.wordpress.com/winter-tales/">Winter Tales</a>
series on my <em>Multo(Ghost)</em> blog. I came across an intriguing anthology called <em>Evening Tales for the Winter</em>, published in 1856. 
The stories purported to be translations from German and other languages, and the first few were interesting supernatural tales in the tradition of 
German Gothic.
</p>

<p>But nothing was attributed. Not the translators, not the authors, not the original stories.</p>

<p>I hate that.</p>

<p>
And so, while reading the tales and picking good candidates to share around Christmas time, I started also trying to figure out where the stories were from. 
Some of them were easy, and many of them were already attributed at the 
<a href="http://www.isfdb.org/cgi-bin/pl.cgi?494044">Internet Speculative Fiction Database</a>. 
But not all of them. I realized that I had figured out an attribution that the ISFDB folks hadn't. Maybe I could figure out more?
</p>

<p>
I also realized that the anthology had stories that were interesting enough to share, but maybe not as winter tales. 
Sharing the stories, sharing the fruits of my research, putting out calls for help from fellow literary sleuths and experts on 19th century 
literature -- it was all getting too complicated for <em>Multo</em>.
</p>

<p>
Hence, <em>Dark Tales Sleuth</em>. Here's where I've shared my successes and my failures, and also shared some of the stories that I like the best, 
in a format that's friendlier and more readable than the (rather dirty) scan of 
<a href="https://archive.org/details/eveningtalesfor00unkngoog"><em>Evening Tales for the Winter</em></a> that's at the Internet Archive.
</p>

<p>
I started off the blog with fruits of an early literary investigation, into the sources of two of Vincent Price's spooky readings for Caedmon Records. 
Since then, I've also added the results of other literary mysteries that I've come across. Come join the case -- the game is afoot!
</p>

</div>

<p><small>Image: From <em>Miss Madelyn Mack, Detective</em>, by Hugh C. Weir (1914). 
Source: <a href="https://archive.org/details/missmadelynmack00massgoog/page/n10/mode/2up">Internet Archive</a>.
</small></p>



