---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/marginnote.css" %}{% endcss %}


<h1>{{ title }}</h1>

<ul class="posttalk-metadata">
  <li>By {{ author }}</li>
  <li>Published in <em>{{ first_published }}</em>, {{ publication_date }}</li>
</ul>

<article>
{{ content | safe }}
</article>