---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/marginnote.css" %}{% endcss %}


<h1>{{ title }}</h1>

{% if pub_info %}
{% set pubText = pub_info %}
{% else %}
{% set pubText = "Published in " %}
{% endif %}


<ul class="posttalk-metadata">
  <li>By {{ author }}</li>
  <li>{{pubText}} <em>{{ first_published }}</em>, {{ publication_date }}</li>
</ul>

<article>
{{ content | safe }}
</article>